<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manager">
            <h2><span jhiTranslate="contractsApp.manager.detail.title">Manager</span> {{manager.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="contractsApp.manager.department">Department</span></dt>
                <dd>
                    <div *ngIf="manager.department">
                        <a [routerLink]="['/department', manager.department?.id, 'view']">{{manager.department?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="contractsApp.manager.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="manager.employee">
                        <a [routerLink]="['/employee', manager.employee?.id, 'view']">
                            {{manager.employee?.lastName}}
                            {{manager.employee?.firstName}}
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manager', manager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
