<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myManagerLabel" jhiTranslate="contractsApp.manager.home.createOrEditLabel">Create or edit a Manager</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!manager.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="manager.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="contractsApp.manager.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="manager.department"  required>
                <option *ngIf="!editForm.value.department" [ngValue]="null" selected></option>
                <option [ngValue]="departmentOption.id === manager.department?.id ? manager.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.department?.dirty && editForm.controls.department?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.department?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="contractsApp.manager.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="manager.employee"  required>
                <option *ngIf="!editForm.value.employee" [ngValue]="null" selected></option>
                <option [ngValue]="employeeOption.id === manager.employee?.id ? manager.employee : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">
                    {{employeeOption.lastName}}
                    {{employeeOption.firstName}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.employee?.dirty && editForm.controls.employee?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.employee?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
